@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.container::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
.container::-webkit-scrollbar-track {
    margin-left: 10px;
    margin-right: 20px;
    background: #888;
    border-radius: 5px;
}
 
/* Handle */
.container::-webkit-scrollbar-thumb {
    background: gold;
    border-radius: 5px;
}
 
/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
    background: yellowgreen;
}
