@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 15px;       /* width is used as size for vertical scrollbar */
    height: 15px;      /* height is used as size for horizontal scrollbar */
}
 
::-webkit-scrollbar-track {
    margin-left: 10px;
    margin-right: 20px;
    background: #888;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    background: gold;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: yellowgreen;
}
